@import "tailwindcss";

@font-face {
  src: url(./assets/font/Vazirmatn-Bold.ttf);
  font-family: vazirMatn;
}

@font-face {
  src: url(./assets/font/Iranian\ Sans.ttf);
  font-family: iran-sans;
}



@layer components {
  .customeInput {
    @apply w-full py-2.5 px-3 border text-[14px] border-[#E5E7EB]
          rounded-2xl focus:border-[#afafaf] outline-0;
  }
}


@layer components {
    .formBtn {
        @apply w-32 px-1.5 py-1 pb-1.5 border rounded-2xl cursor-pointer
    }
}

.Toastify__toast {
  font-family: 'VazirMatn', sans-serif;
}

@layer components {
  .loginInput {
    @apply outline-0 border w-full py-1.5 px-5 border-[#E5E7EB] rounded-2xl
      placeholder:text-[#6B7280]
  }
}

@layer components {
  .activeBtn {
    @apply w-[150px] bg-[#4F6DF5] p-1.5 text-white rounded-xl cursor-pointer border border-[#4F6DF5]
  }
  .notActiveBtn {
    @apply w-[150px] bg-[#fff] p-1.5 text-[#4F6DF5] rounded-xl cursor-pointer border border-[#E5E7EB]
  }
  .active {
    @apply bg-[#4F6DF5] p-1.5 text-white rounded-xl border border-[#4F6DF5]
  }
  .notActive {
    @apply bg-[#f54f4f] p-1.5 text-white rounded-xl border border-[#f54f4f]
  }
}